fastapi
uvicorn
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
numpy
pillow
openpyxl
python-dotenv
email-validator
cmake
face_recognition
psycopg2-binary
insightface
onnxruntime
opencv-python
